# Ignore everything
/*

# Except these files & folders
!/app
!/components
!/store
!index.html
!tailwind.config.ts
!/providers
!package.json
!tsconfig.json
!tsconfig.node.json
!vite.config.ts
!.prettierrc
!README.md
!CHANGELOG.md
!.eslintrc.json