@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --accent-color: 157, 87%, 41%;
    --base-background: 0, 0%, 100%;

    /* Navbar */
    --navbar-text-color: #000000;
    --navbar-text-size: 0.9rem;
    --navbar-text-letter-spacing: -0.14px;
    --navbar-text-line-height: 1.4;
    /* Navbar */

    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --accent-color: 157, 87%, 41%;
    --base-background: 193, 20%, 9%;

    /* Navbar */
    --navbar-text-color: #cecece;
    --navbar-text-size: 0.9rem;
    --navbar-text-letter-spacing: -0.14px;
    --navbar-text-line-height: 1.4;
    /* Navbar */

    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .navlink {
    position: relative;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    color: var(--navbar-text-color);
    font-size: var(--navbar-text-size);
    letter-spacing: var(--navbar-text-letter-spacing);
    line-height: var(--navbar-text-line-height);
    transition: color 0.25s ease-out;
    padding: 0.5rem 0;
  }

  .navlink:hover {
    @apply dark:text-white;
  }

  .navlink:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .navlink::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: #05cd77;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .nav_btn {
    @apply relative inline-block h-[34px] w-[100px] overflow-hidden border-[0.01px] border-gray-800;
    transition: 0.5s;
  }

  .nav_btn:hover {
    border: 0;
    background-color: hsl(var(--accent-color));
    box-shadow:
      0 0 5px hsl(var(--accent-color)),
      0 0 25px hsl(var(--accent-color)),
      0 0 50px hsl(var(--accent-color)),
      0 0 200px hsl(var(--accent-color));
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  }

  .nav_btn_line_1 {
    @apply absolute left-0 top-0 h-[1px] w-full animate-animate-nav-btn-line-1;
    background: linear-gradient(90deg, transparent, hsl(var(--accent-color)));
  }

  .nav_btn_line_2 {
    @apply absolute right-0 top-[-100%] h-full w-[1px] animate-animate-nav-btn-line-2;
    animation-delay: 0.5s;
    background: linear-gradient(180deg, transparent, hsl(var(--accent-color)));
  }

  .nav_btn_line_3 {
    @apply absolute bottom-0 right-[-100%] h-[1px] w-full animate-animate-nav-btn-line-3;
    animation-delay: 1s;
    background: linear-gradient(270deg, transparent, hsl(var(--accent-color)));
  }

  .nav_btn_line_4 {
    @apply absolute bottom-[-100%] left-0 h-full w-[1px] animate-animate-nav-btn-line-4;
    animation-delay: 1.5s;
    background: linear-gradient(360deg, transparent, hsl(var(--accent-color)));
  }
}
